<tr class="question">
  <td><!-- TT QUESTION TEXT TT --></td>
  <td><input type="radio" name="TT SECTION QUESTION ID TT" id="TT SECTION QUESTION ID TT_value0" value="0" /><!-- TT OPTION LABEL TT --></td>
  <td><input type="radio" name="TT SECTION QUESTION ID TT" id="TT SECTION QUESTION ID TT_value1" value="1" /><!-- TT OPTION LABEL TT --></td>
  <td><input type="radio" name="TT SECTION QUESTION ID TT" id="TT SECTION QUESTION ID TT_value2" value="2" /><!-- TT OPTION LABEL TT --></td>
  <td><input type="radio" name="TT SECTION QUESTION ID TT" id="TT SECTION QUESTION ID TT_value3" value="3" /><!-- TT OPTION LABEL TT --></td>
  <td><input type="radio" name="TT SECTION QUESTION ID TT" id="TT SECTION QUESTION ID TT_value4" value="4" /><!-- TT OPTION LABEL TT --></td>
  <td><input type="radio" name="TT SECTION QUESTION ID TT" id="TT SECTION QUESTION ID TT_value5" value="5" /><!-- TT OPTION LABEL TT --></td>
  <td><input type="radio" name="TT SECTION QUESTION ID TT" id="TT SECTION QUESTION ID TT_value6" value="6" /><!-- TT OPTION LABEL TT --></td>
</tr>
<!-- TT QUESTIONS TT -->
